In [1]:
import pandas as pd
from ast import literal_eval
import datetime

In [2]:
source_dir = '../data/'
dest_dir = '../data/'
raw_data_file = source_dir + 'raw_data_anon.csv'
raw_emotions_file = source_dir + 'emotions_anon.csv'
raw_metadata_file = source_dir + 'metadata_anon.txt'

In [3]:
df = pd.read_csv(raw_data_file)
df.head(5)

,tid,veracity,cascade_id,rumor_id,rumor_category,parent_tid,tweet_date,user_account_age,user_verified,user_followers,user_followees,user_engagement,cascade_root_tid,was_retweeted
0,5970798468,FALSE,0,r_-1,Politics,-1,2015-05-09 16:45:03,2064,False,4353,963,2.461932,597079846846668800,0
1,0,FALSE,1,r_0,Politics,-1,2013-08-22 21:09:08,1326,False,164,236,7.092405,0,0
2,632718,FALSE,2,r_2,Politics,-1,2015-10-24 17:50:24,136,False,14149,13846,198.410726,632718,0
3,643829,FALSE,3,r_24,Politics,-1,2015-09-10 05:43:00,1054,False,1363,1325,3.864481,643829,0
4,654940,FALSE,4,r_1,Politics,-1,2013-04-22 18:46:37,1568,False,717,2071,1.428586,654940,0

In [18]:
meta = []
with open(raw_metadata_file, 'r') as fin:
    for line in fin.readlines():
        cascade_id, metadata = eval(line)
        metadata = {k:metadata[k] for k in ['virality']}
        metadata['tid'] = cascade_id
        meta.append(metadata)

df_meta = pd.DataFrame(meta)
del meta
df_meta

       veracity    tid
0         FALSE      1
1         FALSE     10
2         FALSE    100
3         FALSE   1000
4         FALSE  10000
...         ...    ...
126296     TRUE  99995
126297     TRUE  99996
126298     TRUE  99997
126299     TRUE  99998
126300     TRUE  99999

[126301 rows x 2 columns]

In [14]:
test = {'virality': None, 'verified_list': [False], 'rumor_id': 'r_0', 'depth2time': {}, 'veracity': 'FALSE', 'num_followees_list': [236], 'engagement_list': [7.09240543598], 'num_followers_list': [164], 'accountage_list': [1326], 'depth2uu': {}, 'uu2time': {1: 0.0}, 'depth': 0, 'unique_users': 1, 'depth2breadth': {}, 'root_tid': 0, 'rumor_category': 'Politics', 'max_breadth': 1, 'start_date': datetime.datetime(2013, 8, 22, 21, 9, 8), 'size': 1}
test_dict = eval(repr((1,test)))
tnum, tdict = test_dict
tdict = {k:metadata[k] for k in ['veracity']}
tdict

TypeError: unhashable type: 'list'